*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

out/
[Bb]uild/
bin/
obj/
release/         
.vs/
cmake-build-*/

*.dat
*.idx

vcpkg_installed/

.idea/
*.user
*.suo

profiles.json
log.txt
*.ipch